{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "scss"
      }
    ],
    [
      "styled-components", {"ssr": true}
    ]
  ]
}
